.idea/
videoFiles/
__pycache__/
*.avi
*.mp3
*.mp4
merge_videos.py
.ipynb_checkpoints/
read_imu.py
process_mmwave_and_video.ipynb
driving_dataset/dataset/*.mp4
static_dataset/*.mp4
driving_dataset/dataset/*.txt
static_dataset/*.txt
static_dataset/*.csv
driving_dataset/dataset/*.csv
driving_dataset/dataset/processed/anim.gif
driving_dataset/dataset/processed/*.ipynb
